@import url('./assets/colors.css');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
}

.comment {
	background: var(--very-dark-magenta);
	color: var(--white);
}

.comment-badge {
	color: var(--soft-pink);
}

.review-card {
	background: var(--light-grayish-magenta);
}

.review-details,
.description-title {
	color: var(--very-dark-magenta);
}

.description-text {
	font-weight: 500;
	color: var(--dark-grayish-magenta);
}
