@import url('./assets/colors.css');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
}

.main {
	overflow: hidden;
}

.description-title {
	line-height: 0.8;
}

.description-text {
	font-weight: 500;
	color: var(--dark-grayish-magenta);
}

.review-card {
	background: var(--light-grayish-magenta);
}

.review-details,
.description-title {
	color: var(--very-dark-magenta);
}

.comment {
	background: var(--very-dark-magenta);
	color: var(--white);
}

.comment-avatar {
	height: 50px;
	width: 50px;
}

.comment-author {
	line-height: 1.1;
}

.comment-badge {
	color: var(--soft-pink);
}

.comment-body,
.comment-badge {
	font-size: 14px;
}

.bg-top-desktop,
.bg-bottom-desktop {
	opacity: 0;
}

@media (min-width: 576px) {
	.bg-top-mobile,
	.bg-bottom-mobile {
		opacity: 0;
	}

	.bg-top-desktop,
	.bg-bottom-desktop {
		opacity: 1;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 18px;
	}

	.main {
		min-width: 100vw;
		min-height: 100vh;
	}

	.review-card:nth-of-type(2) {
		margin: 0 auto;
	}

	.review-card:nth-last-of-type(1) {
		margin-left: auto;
	}

	.testimonials-box {
		height: 400px;
	}

	.comment-body,
	.comment-badge {
		font-size: 16px;
	}

	#iroberts {
		align-self: center;
	}

	#awallace {
		align-self: end;
		margin: 0 !important;
	}
}
