@import url('./assets/colors.css');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'League Spartan', sans-serif;
	font-size: 15px;
}

.description-title {
	line-height: 0.8;
}

.description-text {
	font-weight: 500;
	color: var(--dark-grayish-magenta);
}

.review-card {
	background: var(--light-grayish-magenta);
}

.review-details,
.description-title {
	color: var(--very-dark-magenta);
}

.comment {
	background: var(--very-dark-magenta);
	color: var(--white);
}

.comment-avatar {
	height: 50px;
	width: 50px;
}

.comment-author {
	line-height: 1.1;
}

.comment-badge {
	color: var(--soft-pink);
}

.comment-body,
.comment-badge {
	font-size: 14px;
}

@media (min-width: 992px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-size: 18px;
	}
	.review-card:nth-of-type(2) {
		margin: 0 auto;
	}

	.review-card:nth-last-of-type(1) {
		margin-left: auto;
	}

	.comment-body,
	.comment-badge {
		font-size: 16px;
	}
}
